/* The Complete JavaScript Course 2021: From Zero to Expert!*/
/* Code rewritten by me */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', serif;
  background-color: #222;
  color: #eee;
}

/** LAYOUT **/
header {
  height: 35vh;
  border-bottom: 7px solid #eee;
  position: relative;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 65vh;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}
/** Elements **/
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.between {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.4rem;
}

.btn {
  border: none;
  padding: 2rem 3rem;
  font-size: 2rem;
  font-family: inherit;
  cursor: pointer;
  background-color: #eee;
  color: #222;
}

.btn:hover {
  background-color: #ccc;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.number {
  position: absolute;
  bottom: 0;
  font-size: 6rem;
  left: 50%;
  color: #222;
  background-color: #eee;
  width: 15rem;
  padding: 3rem 0;
  text-align: center;
  transform: translate(-50%, 50%);
}

.guess {
  background: none;
  border: 4px solid #eee;
  margin-bottom: 3rem;
  padding: 2.5rem;
  font-family: inherit;
  font-size: 5rem;
  color: #eee;
  text-align: center;
  width: 25rem;
  display: block;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}
